.navbar {
  padding: 1wrem;
  display: flex;
  align-items: center;
  max-width: 100vw;
  margin: 2rem auto;
  /* border-bottom: 1px solid #f2f2f2; */
}

.navbarLinks {
  margin: auto;
}

.navbar a {
  margin: 1rem;
  text-decoration: none;
  font-size: 1rem;
  color: black;
  border: 1px solid black;
  border-radius: 20px;
  padding: .5rem
}

.navbar a:hover {
  color: #677bd8;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.navbar img {
  width: 1.5rem;
  height: 1.5rem;
  transform: translateX(-15rem);

}