.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;

}

.navbarLinks {
  margin: auto;
}

.navbar a {
  margin: 1rem;
  text-decoration: none;
  font-size: 1rem;
  color: black;
  border: 1px solid black;
  border-radius: 20px;
  padding: .5rem
}

.navbar a:hover {
  color: #f2f2f2;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}